html,body{
    background: #90b726;
    margin: 0;
}
body{
    background: #e9e4c5;
    margin: 0, auto;
    padding: 2.5% 2.5% 0;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    background: #ece8cd;
    margin: 0;
    padding: .5% 0 .5%;
    width: 100%;
    font-size: 1rem;
    border-top: 1px solid #2b3c36;
    border-bottom: 1px solid #2b3c36;
}
a{
    color: #4e7f8f;
    padding: 0 .1%;
}
h1{
    font-size: 3rem;
}
article{
    overflow: hidden;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.7rem;
}
h4{
    font-size: 1.35rem;
}
p{
    font-size: 1.3rem;
    word-spacing: .115rem;
    line-height: 1.6rem;
}
footer{
    border-top: 1px solid #2b3c36;
    padding-bottom: .5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}
dt{
    font-size: 1.3rem;
    font-weight: bold;
}
li{
    font-size: 1.3rem;
    word-spacing: .115rem;
    line-height: 1.6rem;
}
.flowRight{
    float: right;
    margin-left: 10px;
}
.flowLeft{
    float: left;
    margin-right: 10px;
}
.pearImages{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.timelinePears{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
pre{
    font-size: 1.2rem;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
    word-wrap:break-word;
}
.pear-map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}