html,body{
    background: #90b726;
    margin: 0;
}
body{
    background: #e9e4c5;
    margin: 0, auto;
    padding: 2.5% 2.5% 0;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    background: #ece8cd;
    margin: 0;
    padding: .5% 0 .5%;
    width: 100%;
    font-size: 1rem;
    border-top: 1px solid #2b3c36;
    border-bottom: 1px solid #2b3c36;
}
a{
    color: #4e7f8f;
    padding: 0 .1%;
}
h1{
    font-size: 3rem;
}
article{
    overflow: hidden;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.3rem;
    word-spacing: .115rem;
    line-height: 1.6rem;
}
footer{
    border-top: 1px solid #2b3c36;
    padding-bottom: .5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

li{
    font-size: 1.3rem;
    word-spacing: .115rem;
    line-height: 1.6rem;
}
.flowRight{
    float: right;
    margin-left: 10px;
}